@tailwind base;
@tailwind components;
@tailwind utilities;

// @layer base {
//   @font-face {
//     font-family: 'Lato', sans-serif;
//     font-weight: 300;
//   }
//   @font-face {
//     font-family: 'Lato', sans-serif;
//     font-weight: 400;
//   }
//   @font-face {
//     font-family: 'Lato', sans-serif;
//     font-weight: 700;
//   }
// }

@import 'typography.scss';
@import 'form.scss';
// @import 'buttons.scss';
@import 'loaders.scss';



reach-portal {
  > div {
    position: relative;
    z-index: 100;

  }
}

button {
  outline: none;

  &:focus {
    outline: none;
  }
}

