@layer base {
  body {
    font-size: 16px;
    @apply text-paragraph;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-headers;
  }

  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;

  }
  h4 {
    @apply text-base;
  }
}